/* Variables */

:root {
  --basic-light-grey: #EEEEEE;
  --basic-red: #F8565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-black: #000000;
  --basic-white: #ffffff;

  --special: green;
  /*--special: #663d15;*/

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
/*  background-color: var(--basic-light-grey);*/
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: var(--basic-light-grey);
}

.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);	
  background-color: var(--basic-light-grey);
}

.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover {
  color: #FB565A;
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}


.site-navigation-item.current {
    border-bottom: 2px solid red;
    /*border-image: url(../img/background/underline.png) 0 0 1 0;*/
  }

.basket-button {
  color: #000;
}

.basket-button:hover {
  color: rgb(251, 86, 90);
}

.basket-button:active {
  color: #000;
  opacity: 0.3;
}



/**/
.site-navigation,
.filter-option,
.sort-list,
.sort-arrow,
.socials-list,
.catalog-list {
  list-style: none;
}

/*запрещаем взаимодействие с текущим элементом*/
.site-navigation a:not([href]) {
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */
  color: var(--basic-black); /* цвет текста чёрный */
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus{
  background-color: var(--basic-light-grey);
}

/*Слайдер*/
.slider {
  background-color: var(--basic-light-grey);
}
.slider-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: #283136;
}

.button.slider {
  width: 240px;
  height: 50px;
  border-radius: 3px;
}

/**/


/* Services*/

.services-item {
  text-align: left;
}

.services-item h3 {

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.services-item p {
  color: #283136;
}

.button {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.order:active {
  color: rgba(255, 255, 255, 0.302);
}

.red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.red:hover {
  background-color: #E74246;
}

.red:active {
  background-color: #D7373B;
}

.green {
  background-color: var(--basic-green);
}

.green:hover {
  background-color: #00BC6C;
}

.green:active {
  background-color: #00AA62;
}

.yellow {
  background-color: var(--basic-yellow);
}

.yellow:hover {
  background-color: #EAB534;
}

.yellow:active {
  background-color: #E5A722;
}

.call-slogan h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.call-friends p {
  line-height: 22px;
  color: #444444;
}


/*Features*/

.features-list {
  list-style: none;
}



/*Каталог*/
h1.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.layout .title,
.feature .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/*фильтры и сортировка*/

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}



/*текст в фильтрах*/
.field-filter {
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.filter-button {
  width: 260px;
  height: 50px;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.buy {
  width: 200px;
  height: 50px;
}

p.catalog-description {
  text-align: center;
  color: #666666;
}

.catalog-item-image h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

/*Мы-гордые*/

.features-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

p.features-principle {
   color: #283136;
}

p.we-do {
  font-weight: bold;
  text-transform: uppercase;
  color: #283136;
}

.features-list {
 color: #283136;
}

.numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.features-item {
  color: #283136;
}

.features-item-2 {
  line-height: 18px;
  color: #283136;
}

/*Адрес*/

.address {
  line-height: 18px;
  color: #666666;
}

.company-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-item a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  color: var(--basic-black);  
  opacity: 0.3;
}

.sort-item.active a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  color: var(--basic-black); 
  opacity: 1;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

.pagination-item a:hover {
  background-color: #DFDFDF;
  /*box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);*/
  /*border-radius: 3px;*/
}

.pagination-item a:active {
  background-color: #D5D5D5;
  color: #000000;
  opacity: 0.3;
}

.pagination-item.current {
  background-color: var(--basic-white);
}
