/* Variables */

:root {
  --basic-light-grey: #EEEEEE;
  --basic-red: #F8565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-black: #000000;
  --basic-white: #ffffff;

  --special: green;
  /*--special: #663d15;*/

}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
/*  background-color: var(--basic-light-grey);*/
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-header {
  /*margin: 0px;*/
  padding: 50px 0 0;
  background-color: var(--basic-light-grey);
}

/*.page-header {margin-bottom: 70px;    ВРЕМЕННО} */

.main-navigation {
  display: flex;
  flex-direction: row;   
  align-items: flex-start;


  /*align-items: center;*/
  justify-content: space-between;
  max-width: 1160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;



    outline: 5px solid #ff0000;
}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.logo {
  order:0;
  width: 160px;
  height: 65px;

      outline: 5px solid #ff0000;
}

/*Container*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

 position: relative;

}

.main-navigation .container {
  display: flex;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width:576px;
  margin: 0px auto;
  padding: 0px;
  min-height: 30px;

  list-style: none;

    outline: 5px solid #ff0000;
}

.user-navigation {

  max-width: 125px;
  margin-left: auto;   /* ??????  */

 outline: 5px solid #ff0000;

}

.user-navigation .basket-link {
  padding-left: 50px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;


  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-link:hover::before,
.basket-link:focus::before,
.basket-link:active::before {
  opacity: 1;
}





/* Main navigation */




.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover {
  color: #FB565A;
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}



.site-navigation-item.current {
    border-bottom: 2px solid red;
    /*border-image: url(../img/background/underline.png) 0 0 1 0;*/
  }


.basket-button {
  color: #000;
}

.basket-button:hover {
  color: rgb(251, 86, 90);
}

.basket-button:active {
  color: #000;
  opacity: 0.3;
}



/**/
.site-navigation,
.filter-option,
.sort-list,
.sort-arrow,
.socials-list,
.catalog-list,
.description-list,
.statistics-list,
.clients-list {
  list-style: none;
}

/*запрещаем взаимодействие с текущим элементом*/
.site-navigation a:not([href]) {
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */
  color: var(--basic-black); /* цвет текста чёрный */
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);

  display: block;
  padding: 13px 13px;
}

.site-navigation a:hover,
.site-navigation a:focus{
  background-color: var(--basic-light-grey);
}

/*Слайдер*/
.slider {
  background-color: var(--basic-light-grey);
}
.slider-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: #283136;
}

.button.slider {
  width: 240px;
  height: 50px;
  border-radius: 3px;
}

/**/


/* Services*/

.services {
  max-width: 1160px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0 auto;
  padding: 0;
  padding: 80px 0;


  
  border-bottom: 2px solid #eee;
}


.services-item {
  text-align: left;
}

.services-item h3 {

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}

.services-item p {
  color: #283136;
  margin-bottom: 32px;
}

.button {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.order:active {
  color: rgba(255, 255, 255, 0.302);
}

.red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.red:hover {
  background-color: #E74246;
}

.red:active {
  background-color: #D7373B;
}

.green {
  background-color: var(--basic-green);
}

.green:hover {
  background-color: #00BC6C;
}

.green:active {
  background-color: #00AA62;
}

.yellow {
  background-color: var(--basic-yellow);
}

.yellow:hover {
  background-color: #EAB534;
}

.yellow:active {
  background-color: #E5A722;
}

.call-slogan h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.call-friends p {
  line-height: 22px;
  color: #444444;
}


/*About-Description-Statistic-Features*/
.about {
  border-bottom: 2px solid #eee;
}
.index-columns {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 37px;
  padding: 39px 0 37px;
    /*border-bottom: 2px solid #eee;*/
}


/*.features-list {
  list-style: none;
}*/

.description {
  width: 650px;
}

/*Мы-гордые*/

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}

.description-item {
    position: relative;
    margin: 0;
    padding: 0 0 24px 0px;
    list-style: none;
}

.description-item::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: -34px;
    top: 12px;
}

p.description-principle {
   color: #283136;
}

.description p.we-do {
  margin-top: 40px;
  margin-bottom: 23px;

  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #283136;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 374px;
}

.statistics-list {
  display: flex;
  width: 374px;
  justify-content: flex-start;
  }

ul.statistics-list {
  margin: 0px;
  padding: 0px;
}

.statistics p.we-do {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #283136;
}


.statistics-item {
  margin-right: 22px; 
}

.description-list,
.statistics-list {
 color: #283136;
}

.numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.description-item {
  color: #283136;
}

.statistics-item {
  line-height: 18px;
  color: #283136;
}

.clients {
  max-width: 1160px;
  margin: 0 auto 44px;
  padding-bottom: 44px;
  padding-top: 40px;

  border-bottom: 2px solid #eee;
}

.clients-list {
  display: flex;
  justify-content: space-around;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1;
}

.clients-item:active {
  opacity: 0.1;
}

/* Footer*/
.main-footer {
  outline:  5px solid #00CA74;
}

.map {
  min-height: 416px;
  background-color: var(--basic-light-grey);
  background-image: url("../img/map/map.png");


  outline: 5px solid #ff0000;
}

.call-friends {
  width: 660px;

    outline: 5px solid rgba(255, 0, 255, 0.3);
}

.socials {
  margin: 0px;
  padding: 0px;
  width: 261px;
   /*  outline: 5px solid rgba(0, 255, 255, 0.3);*/
}
.socials-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;

}
.socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-light-grey);
  color: inherit;

    /*outline: 5px solid #ff0000;*/

}

.socials-item:hover,
.socials-item:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.socials-item:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255,255,255,0.3); /*????*/
}

/*Каталог*/

.page-catalog { 
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}


.page-catalog .catalog-title {
  grid-column: 1 / -1;
} 

h1.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.layout .title,
.feature .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-order {
  width: 760px;
  margin-left: 120px;  /*!!!  140 !!!*/
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.catalog-item {
  position: relative;
  width: 360px;
  min-height: 578px;  /*620px*/
  margin-right: 37px;  
  margin-bottom: 31px;
  padding-top: 23px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-image: url(../img/shop/browser-repose.jpg);
}

.catalog-item:hover::before {
  background-image: url(../img/shop/browser.jpg);
}

.hidden-card { 
  display: none;
  background-color: rgb(233,233,233);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 231px;
}

.buy {
  display: block;
  line-height: 50px;
  box-sizing: border-box;
  margin: auto;
}

.catalog-item-image p {
  margin-bottom: 0px;
}
.catalog-item-image img {
  display: block;
}

li.catalog-item:hover >.hidden-card {
  display: block;
}

.catalog-description {
  line-height: 18px;
  text-align: center; 
  margin: 0;  
  margin-top: 18px;
  margin-bottom: 27px;
}

.catalog-header {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 26px;
}

/*BEGIN of Range фильтры и сортировка*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;


}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}


.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;

  font-family: inherit;
  font-size: inherit;
}


/*End of Range*/


.filters {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 43px;
}

.filter legend {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.catalog {}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 13px 18px; 
  border: 3px solid var(--basic-light-grey);
  border-radius: 3px;
}

.pagination-item .current {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
}

.pagination-item.next a {
padding-left: 75px;
padding-right: 74px;

}


.sort-row {}


.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  text-transform: uppercase;
  color: #000000;
}


.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}



/*текст в фильтрах*/
.field-filter {
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.filter-button {
  width: 260px;
  height: 50px;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.buy {
  width: 200px;
  height: 50px;
}

p.catalog-description {
  text-align: center;
  color: #666666;
}

.catalog-item-image h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}


/*Адрес*/

.map .container {

  min-height: 230px;
  padding-top: 55px;
}

.address {
  width: 319px;
  min-height: 230px;
  padding: 32px 10px 46px;
  line-height: 18px;
  color: #666666;
  background-color: var(--basic-white);

  outline: 5px solid rgba(0, 255, 255, 0.3);
}

.company-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-item a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  color: var(--basic-black);  
  opacity: 0.3;
}

.sort-item.active a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  color: var(--basic-black); 
  opacity: 1;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

.pagination-item a:hover {
  background-color: #DFDFDF;
  /*box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);*/
  /*border-radius: 3px;*/
}

.pagination-item a:active {
  background-color: #D5D5D5;
  color: #000000;
  opacity: 0.3;
}

.pagination-item.current {
  background-color: var(--basic-white);
}
